{% extends "base.html" %}

{% block title %}À propos de ce système{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Contexte Justification</h1>{% endblock %}

{% block content %}
<div id="context">

<h2>La malnutrition aigüe au Mali</h2>

<p>Le Mali connaît l'un des taux de mortalité infantile le plus élevé en Afrique de l'ouest (2e position sur 16 pays avec 194 décès avant l'âge de 5 ans pour 1000 naissances), bien loin de la valeur cible assignée dans le cadre de la réalisation des Objectifs du Millénaire pour le Développement. La malnutrition serait associée à près de la moitié de ces décès (Unicef 2010) et affecterait 13% des enfants de moins de 5 ans (EDS IV 2006), alors que le niveau d'alerte international est fixé à 10% par l'OMS. Plus inquiétant encore, la tendance semble être à la détérioration puisque la précédente enquête de démographie et de santé (EDS III - 2001) estimait la prévalence à 11%.</p>

<p>Le traitement de la malnutrition aigüe connait une véritable révolution depuis quelques années avec l'avènement des ATPE (Aliments Thérapeutiques Prêt à l'Emploi) et le développement des approches PECIMA (Prise en Charge Intégrée de la Malnutrition Aigue). Au niveau international et sous régional, les initiatives, les programmes et les projets de recherche se multiplient pour démontrer que des solutions efficientes existent et plaident pour un passage à l'échelle. Le Mali n'est pas en reste avec l'organisation - en 2010 - d'un forum national sur la nutrition qui replace la nutrition au centre des priorités des politiques des stratégies de santé et de développement au Mali.</p>

<p>La région de Gao ressort comme l'une des plus affectées par la malnutrition dans toutes les enquêtes nationales. Les nombreuses enquêtes conduites par ACF-E confirment qu'elle atteint régulièrement des taux compris entre 15 et 20% avec des pics importants en cas de choc comme lors de la crise pastorale en 2010. ACF-E appuie depuis fin 2007 une vingtaine de structures de santé dans les cercles d'Ansongo et de Gao.</p>

<h2>Objectif du projet</h2>

<p>L'ambition de ce projet est multiple (1) Passer à l'échelle régionale, étendre à tous les CSComs non couverts par d'autres organisations les services de prise en charge de la malnutrition et ainsi contribuer à une réduction immédiate de la mortalité infantile (2) Là où les problèmes sont identifiés, mettre en œuvre des activités pilotes,
novatrices et reproductibles et démontrer leur viabilité économique (3) Sensibiliser les partenaires, notamment les décideurs institutionnels sur les leçons apprises.</p>

<h2>Mise en place d’actions pilotes innovantes</h2>

<p>Dans le cadre de son approche régionale et dans le but de répondre à certaines lacunes du terrain ACF-E se propose de mettre en place quatre centres pilotes (2 Ansongo, 2 Gao) dans le but d'y introduire des actions innovantes pouvant démontrer que les lacunes perçues, principalement au niveau de la chaine d'approvisionnement, de la remontée d'information sanitaire et du traitement des enfants malnutris modérés et des femmes enceintes et allaitantes, peuvent être résolus en mettant en œuvre des actions concrètes qui pourront démontrer leur efficacité. Trois centres (2 CSComs dans chaque zone et les CSRef correspondants) seront choisis dans chacun des deux cercles.</p>

<p>Dans ces centres pilotes, ACF-E et PESINET se proposent de concevoir avec les différents acteurs impliqués un outil (adapté au contexte local) de collecte, de transmission et de traitement des indicateurs nutritionnels clés (voir en annexe le canevas de reporting mensuel de la Prise en charge de la Malnutrition aigüe) et des indicateurs nécessaires à la gestion des stocks.</p>

</div>
{% endblock %}
