{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Accueil{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Système d'information de routine sur la malnutrition</h1>{% endblock %}

{% block content %}

<div id="context">

<h2>Tableau de bord</h2>
<p>Bienvenue dans le système d'information de routine Nutrition.</p>
<p>Ce tableau de bord vous donne un aperçu de l'état d'avancement de la collecte et de la transmission des données.</p>

<table class="center">
<tr><th>Mois en cours</th><td>{{ current_period.middle|datefmt:"MMMM yyyy" }}</td></tr>
<tr><th>Période de collecte en cours</th><td>{{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</td></tr>
<tr><th>Étape en cours</th><td>{{ current_stage|stage }}</td></tr>
<tr><th>SMS reçus / envoyés en {{ current_period.middle|datefmt:"MMMM yyyy" }}</th><td>{{ current_sms.0 }} / {{ current_sms.1 }}</td></tr>
<tr><th>SMS reçus / envoyés en {{ current_reporting_period.middle|datefmt:"MMMM yyyy" }}</th><td>{{ current_reporting_sms.0 }} / {{ current_reporting_sms.1 }}</td></tr>
<tr><th>Établissement enregistrés dans le système</th><td>{{ total_cscom }}</td></tr>
</table>

<h2>Avancement de la collecte/transmission</h2>
<table class="center">
<tr><th>Établissement ayant envoyés leur rapport</th><td>{{ received_cscom_reports }}</td></tr>
<tr><th>Rapports primaires validés</th><td>{{ cscom_reports_validated }}</td></tr>
<tr><th>Rapports de districts validés</th><td>{{ district_reports_validated }}</td></tr>
<tr><th>Taux de rapportage</th><td class="reporting_rate {{ reporting_rate|rate_class }}">{{ reporting_rate|percent:2 }}</td></tr>
</table>

</div>

{% endblock %}
