#!/usr/bin/env python
# -*- coding: utf-8 -*-
# vim: ai ts=4 sts=4 et sw=4 nu

# path to client DB containing reports, etc
SQLITE_PATH = '/home/reg/src/nut/client/client.db'

# path to exports repository
EXPORT_PATH = '/media/export/export_nutrition'