#!/usr/bin/env python
# encoding=utf-8

# ROOT_DIR contains path of this folder.
import os
abs_path = os.path.abspath(__file__)
ROOT_DIR = os.path.dirname(abs_path)

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('root', 'root@localhost'),
)

DATABASES = {'default': {
    'ENGINE': 'django.db.backends.sqlite3',
    'NAME': '%s/nut.db' % ROOT_DIR},
    'smsd': {
    'ENGINE': 'django.db.backends.mysql',
    'NAME': 'nutsms',
    'USER': 'nutsms',
    'PASSWORD': 'nutsms',
    'HOST': 'localhost'}}

TIME_ZONE = 'Africa/Bamako'

LANGUAGE_CODE = 'fr-fr'

MEDIA_ROOT = os.path.join(ROOT_DIR, 'media')
MEDIA_URL = ''

STATIC_ROOT = os.path.join(os.path.dirname( \
                                 os.path.abspath(__file__)), 'static')
STATIC_URL = '/static/'

#ADMIN_MEDIA_PREFIX = '/admin_static/'

# change that one!
SECRET_KEY = 'madarine-pomelo'

TEMPLATE_DIRS = ()

EMAIL_HOST = 'localhost'
EMAIL_PORT = 1025

#EMAIL_USE_TLS = True
#EMAIL_HOST = 'smtp.gmail.com'
#EMAIL_PORT = 587
#EMAIL_HOST_USER = 'xxx@gmail.com'
#EMAIL_HOST_PASSWORD = ""

EMAIL_SENDER = "Programme Nutrition <xxx@gmail.com>"

# transport method: smsd or kannel
NOSMS_TRANSPORT = 'smsd'
NOSMS_SMSD_CONF = '/etc/gammu/smsd.conf'
NOSMS_SMSD_PID = '/tmp/smsd.pid'
# function receiving SMS texts
#NOSMS_HANDLER = 'xxx.nosms_handler'
# for kannel transport
NOSMS_TRANSPORT_HOST = 'localhost'
NOSMS_TRANSPORT_PORT = 13013

HOTLINE_NUMBER = "77777777"
HOTLINE_EMAIL = "xxx@hotline.com"

SUPPORT_CONTACTS = [('acf', u"ACF", 'acfmali@acf.es'),
                    ('antim', u"ANTIM", 'antim@sante.gov.ml')]

USE_HTTPS = False
